table {
    border: 2px solid black;
}

td:hover {
    background-color:Aquamarine;
	color: black;
}

tr, th {
    background-color: LavenderBlush;
	color: black;
}

tr, td {
    background-color: LemonChiffon;
	color: black;
}