/*=========================
   General styling
=========================*/

/* body */

body {
    margin: 0%; /*site displays all the way to edge of browser*/
}

/* h1 */

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover {
    filter: grayscale(5%); /* slight gray filter when hover */
    transform: scale(1.1); /* h1 increase in size when hovered over */
    transition: transform 1s;
}

/* portfolio title text */

.white-text {
    color: #fff;
}

/* p */

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; /* justify text within p elements */
    letter-spacing: 1px; /* expands text */
    font-size: 20px;
    padding-left: 20px; 
    padding-right: 20px;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

/* center */

.center {
    text-align: center;
    font-size: 25px;
}

/* only affects quote, github link, and footer */
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* anchor */

a {
    color: #dc143c;
}

/* quotes */

q {
    font-style: italic;
}

/* image */

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%; /* ensures all images stay within their container */
    height: 340px;
    display: block; /* specifying block display ensures images are centered */
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    filter: grayscale(5%); /* brings back most color when hovered over */
    transition: transform 1s;
    transform: scale(1.1);
}

/* the @media rule is used in media queries to apply different styles for different media/types of devices */
/* on screens 576px and smaller the images will be 100px tall and centered vertically in column */

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* footer */

footer {
    padding: 2%;
    background-color: #6B8E23;
}

/*===========================
    navbar styling
===========================*/

.navbar {
    overflow: hidden;
    background-color: #556B2F;
    position: fixed; /*keeps navbar at top as we scroll*/
    top: 0; /*no space above navbar*/
    width: 100%; /*entire width of page*/
    z-index: 1; /*ensures other elements don't display over navbar*/
    -webkit-animation: moveNav 5s; /*applies moveNav animation below for Safari 4.0-8.0*/
    animation: moveNav 5s; /*applues movenav animation for all other browsers*/
}

/* movenav animation for moving navbar in from left of screen*/
@keyframes moveNav {
    from {left: -100vw;} /* navbar is starting off screen to left */
    to {left: 0vw;} /*moves navbar into place on screen*/
}

/* navbar links */

.navbar a {
    float: left; /* text floats left on navbar */
    display: blocks; /*ensures other text will be displayed on same line/row not new line*/
    color: #fff;
    padding: 14px 16px;
    text-decoration: none; /*gets rid of underlines*/
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    position: relative; /*sets text relative to its normal positioning, allowing us to use animation below*/
    -webkit-animation: moveNavText 5.75s; /*animation for Safari 4.0-8.0*/
    animation: moveNavText 5.75s; 
}

/*moveNavText animation effect for moving navbar text form above the view to the navbar*/

@keyframes moveNavText {
    from {top: -100vw;} /*sets navbar text 100% above the viewport*/
    top {0vw;} /*lowers navbar text onto navbar*/
}

/* screens 576px and smaller will display navbar links equally distributed*/
@media screen and (max-width: 576px) {
    .navbar a{
        width: 25%; /*makes each link take up 1/4 of the navbar*/
        font-size: 12px;
    }
}

/* navbar hover*/

.navbar a:hover {
    background-color: #808000;
    color: black;
    font-weight: bold;
}

/*navbar home button*/

.navbar a.active { /* targets the a element on the navbar with the "active" class*/
    background-color: #808000;
}

/*======================
   video styling
======================*/

/* background video format*/

#rain_video {
    position: fixed; /*fixes video to page*/
    right: 0; /*ensures no space between edges of video and page*/
    bottom: 0;
    min-width: 100%; /*ensures video is displayed across full width of page*/
    z-index: -1; /* places video behind other elements*/
}

/*screens are 576px and smaller will not display video*/

@media screen and (max-width: 576px) {
    #rain_video {
        display: none;
    }
}

/* text over video*/

.video_text {
    background: rgba(0,0,0,0.5); /*semi-transparent background for text to sit over*/
    color: white;
    width: 100%; /* ensures video-text container fills the width of video*/
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* this animation effect causes overlay video text to move up form bottom of page upon load*/

@keyframes moveVideoText {
    from {top: -100vw;} /*sets position of video text to above the viewport*/
    to {top: 0vw;} /*moves video text to nomral postion on viewport*/
}

/*====================
  table styling
====================*/

* { /* the asterisk is a universal selector that applies this effect to all elements on page*/
    box-sizing: border-box; /*creates a box with a border within which we will place most of our text*/
}

.column_1 {
    float: left;
    width: 50%; /*ensures column takes up half the page*/
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #ffff66;
}

/* screens 576px and smaller will display scroll bar if text overflows column height*/

@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #6B8E23;
}

/*applied to column in final row to allow room for contact form overrides hight and padding but keeps format for column1/2*/

.column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/*this inserts something after the content of selected elements*/
.row:after {
    content: ""; /*leaving this blank allows footer to be displayed - removing it makes footer overwrite a column*/
    display: table; 
    clear: both; /* clears any other elements from floating on the left or right of an element*/
}

/*==================
  contact styling
==================*/

/* input[type=text] targets all text input sections of the contact form*/

input[type=text] {
    width: 100%; /*each input box covers the full width of the containter*/
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /*creates a box with a border around the contact form input boxes*/
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* hover for input boxes*/

input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset; /* creates a blue shadow in text box when hovered*/
}

/* submit button*/

input[type=submit] {
    background-color: #f2e090;
    color: black;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* hover submit button*/

input[type=submit] {
    background-color: white;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s;
}

/* form */

form {
    border-radius: 5px; 
    background-color: #f2e090;
    padding: 10px; 
    font-family: "Trebuchet MS", Optima;

}